<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_wp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,786},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{106,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>lab_bu_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,776},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>lab_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,714},{265,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,60}}</string>
                <key>sourceSize</key>
                <string>{265,60}</string>
            </dict>
            <key>map_bb_bgk.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{711,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,591}}</string>
                <key>sourceSize</key>
                <string>{711,591}</string>
            </dict>
            <key>map_bbym.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,595},{556,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,117}}</string>
                <key>sourceSize</key>
                <string>{556,117}</string>
            </dict>
            <key>map_bu_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,656},{145,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,142}}</string>
                <key>sourceSize</key>
                <string>{145,142}</string>
            </dict>
            <key>map_bu_dq.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,776},{183,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,68}}</string>
                <key>sourceSize</key>
                <string>{183,68}</string>
            </dict>
            <key>map_bu_fhyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,872},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>map_bu_ljfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,788},{187,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,82}}</string>
                <key>sourceSize</key>
                <string>{187,82}</string>
            </dict>
            <key>map_bu_qd.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,787},{172,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,64}}</string>
                <key>sourceSize</key>
                <string>{172,64}</string>
            </dict>
            <key>map_bu_qlbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,740},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>map_bu_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,806},{180,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,62}}</string>
                <key>sourceSize</key>
                <string>{180,62}</string>
            </dict>
            <key>map_bu_tj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,656},{128,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,112}}</string>
                <key>sourceSize</key>
                <string>{128,112}</string>
            </dict>
            <key>map_bu_tp.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,776},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>map_bu_xs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1727,800},{139,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,144}}</string>
                <key>sourceSize</key>
                <string>{139,144}</string>
            </dict>
            <key>map_bu_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,595},{143,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,162}}</string>
                <key>sourceSize</key>
                <string>{143,162}</string>
            </dict>
            <key>map_downb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{710,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,195}}</string>
                <key>sourceSize</key>
                <string>{710,195}</string>
            </dict>
            <key>map_dt_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,776},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>map_dt_gw.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,595},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>map_dt_zj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1157,945},{13,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,14}}</string>
                <key>sourceSize</key>
                <string>{13,14}</string>
            </dict>
            <key>map_dtck.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,870},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>map_dtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,656},{289,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,261}}</string>
                <key>sourceSize</key>
                <string>{289,261}</string>
            </dict>
            <key>map_dyc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1340,806},{70,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,20}}</string>
                <key>sourceSize</key>
                <string>{70,20}</string>
            </dict>
            <key>map_fh.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,714},{278,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,28}}</string>
                <key>sourceSize</key>
                <string>{278,28}</string>
            </dict>
            <key>map_gwxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,744},{65,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,32}}</string>
                <key>sourceSize</key>
                <string>{65,32}</string>
            </dict>
            <key>map_gwxtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{280,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,28}}</string>
                <key>sourceSize</key>
                <string>{280,28}</string>
            </dict>
            <key>map_jyk.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,936},{183,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,20}}</string>
                <key>sourceSize</key>
                <string>{183,20}</string>
            </dict>
            <key>map_nyzw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,787},{669,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{669,125}}</string>
                <key>sourceSize</key>
                <string>{669,125}</string>
            </dict>
            <key>map_smk.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,914},{183,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,20}}</string>
                <key>sourceSize</key>
                <string>{183,20}</string>
            </dict>
            <key>map_ssjbk.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,744},{192,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,42}}</string>
                <key>sourceSize</key>
                <string>{192,42}</string>
            </dict>
            <key>map_tlk.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,914},{183,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,20}}</string>
                <key>sourceSize</key>
                <string>{183,20}</string>
            </dict>
            <key>map_xxk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,2},{652,526}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,526}}</string>
                <key>sourceSize</key>
                <string>{652,526}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,936},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>singleColor.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,590},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{2,2}</string>
            </dict>
            <key>st_bu_cun.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,712},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>st_bu_qu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,894},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>top_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1995,2},{708,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,50}}</string>
                <key>sourceSize</key>
                <string>{708,50}</string>
            </dict>
            <key>up_k02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,586}}</string>
                <key>sourceSize</key>
                <string>{750,586}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{2047,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ace2a76d655e643cdb349bd933ce471e:e6eb7f46a9f4f937d8c811daa1487486:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
