<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_bu_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,377},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cha_fy_yf.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,377},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>fa_bq_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,435},{135,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,56}}</string>
                <key>sourceSize</key>
                <string>{135,56}</string>
            </dict>
            <key>fa_bq_gzx.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,237},{171,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,87}}</string>
                <key>sourceSize</key>
                <string>{171,87}</string>
            </dict>
            <key>fa_bq_qh.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,420},{135,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,56}}</string>
                <key>sourceSize</key>
                <string>{135,56}</string>
            </dict>
            <key>fa_bq_qhx.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,62},{171,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,87}}</string>
                <key>sourceSize</key>
                <string>{171,87}</string>
            </dict>
            <key>fa_bq_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,354},{135,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,56}}</string>
                <key>sourceSize</key>
                <string>{135,56}</string>
            </dict>
            <key>fa_bq_sjx .png</key>
            <dict>
                <key>frame</key>
                <string>{{458,204},{171,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,87}}</string>
                <key>sourceSize</key>
                <string>{171,87}</string>
            </dict>
            <key>fa_gz_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,241},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>fa_gz_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,304},{212,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,49}}</string>
                <key>sourceSize</key>
                <string>{212,49}</string>
            </dict>
            <key>fa_gz_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,237},{240,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,65}}</string>
                <key>sourceSize</key>
                <string>{240,65}</string>
            </dict>
            <key>fa_gz_xzzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,406},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>fa_qh_qh.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,326},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>fa_sj_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,32},{327,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,28}}</string>
                <key>sourceSize</key>
                <string>{327,28}</string>
            </dict>
            <key>fa_sj_bark.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,212},{320,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,23}}</string>
                <key>sourceSize</key>
                <string>{320,23}</string>
            </dict>
            <key>fa_sj_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,479},{25,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,38}}</string>
                <key>sourceSize</key>
                <string>{25,38}</string>
            </dict>
            <key>fa_sj_jzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,2},{327,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,28}}</string>
                <key>sourceSize</key>
                <string>{327,28}</string>
            </dict>
            <key>fa_sj_sc.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,355},{44,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,19}}</string>
                <key>sourceSize</key>
                <string>{44,19}</string>
            </dict>
            <key>fa_sj_sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,355},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>fa_sj_x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,354},{59,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,147}}</string>
                <key>sourceSize</key>
                <string>{59,147}</string>
            </dict>
            <key>fa_sj_x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,62},{288,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,148}}</string>
                <key>sourceSize</key>
                <string>{288,148}</string>
            </dict>
            <key>fa_sj_x03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{326,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,148}}</string>
                <key>sourceSize</key>
                <string>{326,148}</string>
            </dict>
            <key>fa_sj_x04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{454,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,148}}</string>
                <key>sourceSize</key>
                <string>{454,148}</string>
            </dict>
            <key>fa_sj_x05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{590,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{590,148}}</string>
                <key>sourceSize</key>
                <string>{590,148}</string>
            </dict>
            <key>fa_sj_xzcl.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,62},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>fa_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{708,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,50}}</string>
                <key>sourceSize</key>
                <string>{708,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>factory.png</string>
            <key>size</key>
            <string>{1053,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13716f41961e4e136177792692be7c67:2a84037d22ceda9b83c69a47e00ada2f:6c9c5e47826cc1f4fcb4ca5c89880f39$</string>
            <key>textureFileName</key>
            <string>factory.png</string>
        </dict>
    </dict>
</plist>
