<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,61},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>tra_ac.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{554,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,177}}</string>
                <key>sourceSize</key>
                <string>{554,177}</string>
            </dict>
            <key>tra_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,56},{141,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,122}}</string>
                <key>sourceSize</key>
                <string>{141,122}</string>
            </dict>
            <key>tra_bu_dz.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,56},{61,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,3}}</string>
                <key>sourceSize</key>
                <string>{61,3}</string>
            </dict>
            <key>tra_bu_gm.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{177,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,81}}</string>
                <key>sourceSize</key>
                <string>{177,81}</string>
            </dict>
            <key>tra_bu_sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>tra_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,114},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,37}}</string>
                <key>sourceSize</key>
                <string>{44,37}</string>
            </dict>
            <key>tra_zsk.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{210,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,52}}</string>
                <key>sourceSize</key>
                <string>{210,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{933,181}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b11feaefc5207cd94aa9317ba05cb648:81caca2199322a1b067a756937b9d3f7:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
