<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_40000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,821},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40000100.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,700},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40000200.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,784},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>skill_40000300.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,821},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40000400.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,700},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40000500.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,784},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>skill_40100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,821},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40100100.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,700},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40100200.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,784},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>skill_40100300.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,821},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40100400.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,700},{119,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,119}}</string>
                <key>sourceSize</key>
                <string>{119,119}</string>
            </dict>
            <key>skill_40100500.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,784},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>skill_bd.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,620},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>skill_bgk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{679,1174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{679,1174}}</string>
                <key>sourceSize</key>
                <string>{679,1174}</string>
            </dict>
            <key>skill_bu_bxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,973},{160,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,55}}</string>
                <key>sourceSize</key>
                <string>{160,55}</string>
            </dict>
            <key>skill_bu_xx.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,620},{162,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{162,55}}</string>
                <key>sourceSize</key>
                <string>{162,55}</string>
            </dict>
            <key>skill_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,973},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>skill_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,2},{297,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,60}}</string>
                <key>sourceSize</key>
                <string>{297,60}</string>
            </dict>
            <key>skill_hk.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{17,969}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,969}}</string>
                <key>sourceSize</key>
                <string>{17,969}</string>
            </dict>
            <key>skill_ht.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,64},{17,869}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,869}}</string>
                <key>sourceSize</key>
                <string>{17,869}</string>
            </dict>
            <key>skill_ick.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1030},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,122}}</string>
                <key>sourceSize</key>
                <string>{122,122}</string>
            </dict>
            <key>skill_tk.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,64},{554,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,246}}</string>
                <key>sourceSize</key>
                <string>{554,246}</string>
            </dict>
            <key>skill_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,973},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill.png</string>
            <key>size</key>
            <string>{1005,1178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e205afe71e8bba87c38b6ef63bf3d3:b32aa149535f1615d7c7434f5d0e7856:de628d2eabb1e43115cf8c86336e45f6$</string>
            <key>textureFileName</key>
            <string>skill.png</string>
        </dict>
    </dict>
</plist>
