body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:35px;
  width:734px;
  height:1295px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1295px;
}
#u1 {
  position:absolute;
  left:2px;
  top:640px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:43px;
  width:720px;
  height:1280px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:44px;
  top:105px;
  width:680px;
  height:1190px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:1190px;
}
#u5 {
  position:absolute;
  left:2px;
  top:587px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:645px;
  top:47px;
  width:102px;
  height:98px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:98px;
}
#u7 {
  position:absolute;
  left:2px;
  top:41px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:64px;
  top:1158px;
  width:152px;
  height:152px;
  font-size:28px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u9 {
  position:absolute;
  left:2px;
  top:43px;
  width:148px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:225px;
  top:1158px;
  width:152px;
  height:152px;
  font-size:28px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u11 {
  position:absolute;
  left:2px;
  top:43px;
  width:148px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:387px;
  top:1158px;
  width:152px;
  height:152px;
  font-size:28px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u13 {
  position:absolute;
  left:2px;
  top:43px;
  width:148px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:548px;
  top:1158px;
  width:152px;
  height:152px;
  font-size:28px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:152px;
}
#u15 {
  position:absolute;
  left:2px;
  top:43px;
  width:148px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:62px;
  top:1151px;
  width:156px;
  height:163px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:163px;
}
#u17 {
  position:absolute;
  left:2px;
  top:74px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:64px;
  top:1130px;
  width:636px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u19 {
  position:absolute;
  left:70px;
  top:185px;
  width:308px;
  height:345px;
  font-size:28px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:345px;
}
#u20 {
  position:absolute;
  left:2px;
  top:164px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:87px;
  top:457px;
  width:273px;
  height:52px;
  font-size:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:52px;
}
#u22 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:148px;
  top:240px;
  width:150px;
  height:150px;
  font-size:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u24 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:122px;
  top:410px;
  width:202px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:127px;
  top:462px;
  width:49px;
  height:42px;
  font-size:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
}
#u28 {
  position:absolute;
  left:2px;
  top:13px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:176px;
  top:468px;
  width:144px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:392px;
  top:185px;
  width:308px;
  height:345px;
  font-size:28px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:345px;
}
#u32 {
  position:absolute;
  left:2px;
  top:164px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:409px;
  top:457px;
  width:273px;
  height:52px;
  font-size:28px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:52px;
}
#u34 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:470px;
  top:240px;
  width:150px;
  height:150px;
  font-size:28px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u36 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:444px;
  top:410px;
  width:202px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:449px;
  top:462px;
  width:49px;
  height:42px;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
}
#u40 {
  position:absolute;
  left:2px;
  top:13px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:498px;
  top:468px;
  width:144px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:70px;
  top:555px;
  width:308px;
  height:345px;
  font-size:28px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:345px;
}
#u44 {
  position:absolute;
  left:2px;
  top:164px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:87px;
  top:827px;
  width:273px;
  height:52px;
  font-size:28px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:52px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:148px;
  top:610px;
  width:150px;
  height:150px;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u48 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:122px;
  top:780px;
  width:202px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:127px;
  top:832px;
  width:49px;
  height:42px;
  font-size:28px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
}
#u52 {
  position:absolute;
  left:2px;
  top:13px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:176px;
  top:838px;
  width:144px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:392px;
  top:555px;
  width:308px;
  height:345px;
  font-size:28px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:345px;
}
#u56 {
  position:absolute;
  left:2px;
  top:164px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:409px;
  top:827px;
  width:273px;
  height:52px;
  font-size:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:52px;
}
#u58 {
  position:absolute;
  left:2px;
  top:18px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:470px;
  top:610px;
  width:150px;
  height:150px;
  font-size:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
}
#u60 {
  position:absolute;
  left:2px;
  top:67px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:444px;
  top:780px;
  width:202px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:33px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:449px;
  top:832px;
  width:49px;
  height:42px;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:42px;
}
#u64 {
  position:absolute;
  left:2px;
  top:13px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:498px;
  top:838px;
  width:144px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:33px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:73px;
  top:203px;
  width:204px;
  height:100px;
  -webkit-transform:rotate(321deg);
  -moz-transform:rotate(321deg);
  -ms-transform:rotate(321deg);
  transform:rotate(321deg);
  font-size:28px;
  color:#FF0000;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:100px;
}
#u68 {
  position:absolute;
  left:2px;
  top:34px;
  width:200px;
  word-wrap:break-word;
}
