body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:963px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:16px;
  top:8px;
  width:734px;
  height:1295px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1295px;
}
#u1 {
  position:absolute;
  left:2px;
  top:640px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:23px;
  top:16px;
  width:720px;
  height:1280px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:40px;
  top:83px;
  width:680px;
  height:1190px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:1190px;
}
#u5 {
  position:absolute;
  left:2px;
  top:587px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:641px;
  top:25px;
  width:102px;
  height:98px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:98px;
}
#u7 {
  position:absolute;
  left:2px;
  top:41px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:63px;
  top:798px;
  width:635px;
  height:449px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:449px;
}
#u9 {
  position:absolute;
  left:2px;
  top:216px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:65px;
  top:133px;
  width:635px;
  height:635px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:635px;
}
#u11 {
  position:absolute;
  left:2px;
  top:310px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:818px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:176px;
  top:818px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:262px;
  top:818px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:622px;
  top:818px;
  width:57px;
  height:58px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:350px;
  top:818px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u21 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:89px;
  top:908px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u23 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:210px;
  top:908px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u25 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:331px;
  top:908px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u27 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:451px;
  top:908px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u29 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:572px;
  top:908px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u31 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:89px;
  top:1019px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u33 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:210px;
  top:1019px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u35 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:331px;
  top:1019px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u37 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:451px;
  top:1019px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u39 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:572px;
  top:1019px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u41 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:89px;
  top:1130px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u43 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:209px;
  top:1130px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u45 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:331px;
  top:1130px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u47 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:451px;
  top:1130px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u49 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:571px;
  top:1130px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u51 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:561px;
  top:897px;
  width:121px;
  height:118px;
  font-size:20px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:118px;
}
#u53 {
  position:absolute;
  left:2px;
  top:51px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:577px;
  top:914px;
  width:85px;
  height:85px;
  font-size:20px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u55 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:161px;
  top:246px;
  visibility:hidden;
}
#u56_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:729px;
  opacity:0.75;
  font-size:28px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:729px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:37px;
  top:22px;
  width:355px;
  height:52px;
  opacity:0.25;
  font-size:28px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:52px;
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:351px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:120px;
  top:32px;
  width:169px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:47px;
  top:92px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:28px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u64 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:47px;
  top:92px;
  width:96px;
  height:96px;
  font-size:28px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u66 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:153px;
  top:103px;
  width:207px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:33px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:153px;
  top:148px;
  width:179px;
  height:33px;
  font-size:28px;
  color:#FFFFFF;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:33px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:37px;
  top:396px;
  width:407px;
  height:33px;
  font-size:28px;
  color:#CCFF00;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:33px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:37px;
  top:436px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:118px;
  top:638px;
  width:94px;
  height:70px;
  font-size:28px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:70px;
}
#u76 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:37px;
  top:222px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF00CC;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:37px;
  top:186px;
  width:383px;
  height:33px;
  font-size:28px;
  color:#CCFF00;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:33px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:9px;
  top:638px;
  width:94px;
  height:70px;
  font-size:28px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:70px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:228px;
  top:638px;
  width:94px;
  height:70px;
  font-size:28px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:70px;
}
#u84 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:337px;
  top:638px;
  width:94px;
  height:70px;
  font-size:28px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:70px;
}
#u86 {
  position:absolute;
  left:2px;
  top:18px;
  width:90px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:37px;
  top:266px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF00CC;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:37px;
  top:309px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF00CC;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:37px;
  top:353px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF00CC;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:36px;
  top:477px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:36px;
  top:517px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:35px;
  top:558px;
  width:287px;
  height:33px;
  font-size:28px;
  color:#FF0000;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:33px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:682px;
  top:938px;
  width:281px;
  height:37px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:88px;
  top:290px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u102 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:210px;
  top:290px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u104 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:330px;
  top:290px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u106 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:450px;
  top:290px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u108 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:572px;
  top:290px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u110 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:88px;
  top:399px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u112 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:210px;
  top:399px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u114 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:330px;
  top:399px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u116 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:450px;
  top:399px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u118 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:572px;
  top:399px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u120 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:88px;
  top:508px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u122 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:208px;
  top:508px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u124 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:330px;
  top:508px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u126 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:450px;
  top:508px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u128 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:570px;
  top:508px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u130 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:563px;
  top:277px;
  width:121px;
  height:118px;
  font-size:20px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:118px;
}
#u132 {
  position:absolute;
  left:2px;
  top:51px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:579px;
  top:294px;
  width:85px;
  height:85px;
  font-size:20px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:85px;
}
#u134 {
  position:absolute;
  left:2px;
  top:34px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:92px;
  top:156px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u136 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:180px;
  top:156px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u138 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:266px;
  top:156px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u140 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u141 {
  position:absolute;
  left:626px;
  top:156px;
  width:57px;
  height:58px;
  font-size:28px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:58px;
}
#u142 {
  position:absolute;
  left:2px;
  top:12px;
  width:53px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:354px;
  top:156px;
  width:77px;
  height:58px;
  font-size:28px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:58px;
}
#u144 {
  position:absolute;
  left:2px;
  top:12px;
  width:73px;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:88px;
  top:617px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u146 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:208px;
  top:617px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u148 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149 {
  position:absolute;
  left:330px;
  top:617px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u150 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151 {
  position:absolute;
  left:450px;
  top:617px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u152 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153 {
  position:absolute;
  left:570px;
  top:617px;
  width:96px;
  height:96px;
  opacity:0.5;
  font-size:20px;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:96px;
}
#u154 {
  position:absolute;
  left:2px;
  top:40px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  position:absolute;
  left:674px;
  top:320px;
  width:281px;
  height:37px;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:37px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
