<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_30200100_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200101_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200102_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{96,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200103_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200104_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{90,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200200_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{62,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200201_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200202_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200203_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{84,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200204_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200300_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{80,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{80,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200301_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{94,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200302_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{86,78}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200303_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200304_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{86,88}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200400_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200401_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{80,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{80,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200402_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{84,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200403_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{76,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{76,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200404_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200500_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200501_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200502_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{96,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200503_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200504_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{90,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200600_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{62,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200601_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200602_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200603_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{84,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200604_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200700_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{80,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{80,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200701_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{94,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200702_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{86,78}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200703_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200704_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{86,88}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200800_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200801_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{80,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{80,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200802_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{84,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200803_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{76,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{76,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200804_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200900_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200901_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200902_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{96,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200903_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30200904_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{90,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201000_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{62,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201001_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201002_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201003_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{84,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201004_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201100_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{80,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{80,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201101_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{94,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201102_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{86,78}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201103_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201104_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{86,88}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201200_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201201_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{80,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{80,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201202_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{84,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201203_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{76,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{76,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201204_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201300_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201301_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201302_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{96,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201303_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201304_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{90,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201400_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{62,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201401_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201402_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201403_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{84,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201404_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201500_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1558},{80,54}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{80,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201501_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{94,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201502_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1102},{86,78}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{86,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201503_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201504_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{86,88}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{86,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201600_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{84,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201601_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{80,70}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{80,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201602_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{84,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201603_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{76,90}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{76,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201604_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201700_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201701_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201702_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{96,72}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201703_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{84,60}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{84,60}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201704_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{90,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{90,56}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201800_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{62,92}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{62,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201801_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{96,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201802_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{96,78}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{96,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201803_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1342},{84,80}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{84,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30201804_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{86,76}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,19},{86,76}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>drugMaterial.png</string>
            <key>size</key>
            <string>{100,1614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e6776a26f71c8ed9966465242c4f48f:d47b9e07f7fbdd5d4a16e8be1a8bb83c:4ea83eda0c46ea7bcdd670eb69a5259f$</string>
            <key>textureFileName</key>
            <string>drugMaterial.png</string>
        </dict>
    </dict>
</plist>
