<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_30100100_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100101_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100102_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100103_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100104_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100200_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100201_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100202_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100203_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100204_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100300_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{82,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100301_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{88,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100302_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{72,74}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100303_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{96,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100304_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100400_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{84,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100401_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{76,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100402_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100403_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100404_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100500_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100501_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100502_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100503_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100504_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100600_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100601_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100602_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{82,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100603_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{88,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100604_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{72,74}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100700_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{96,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100701_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100702_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{84,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100703_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{76,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100704_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100800_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100801_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100802_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100803_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100804_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100900_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100901_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100902_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100903_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30100904_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101000_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{82,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101001_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{88,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101002_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{72,74}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101003_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{96,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101004_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101100_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{84,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101101_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{76,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101102_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101103_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101104_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101200_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101201_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101202_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101203_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101204_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101300_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101301_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101302_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{82,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101303_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{88,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101304_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{72,74}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101400_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{96,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101401_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101402_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1114},{84,82}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{84,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101403_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1272},{76,80}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{76,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101404_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101500_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{96,74}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{96,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101501_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{92,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{92,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101502_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{94,86}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101503_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1198},{82,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{82,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101504_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,92}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101600_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{94,94}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101601_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,96}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{90,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101602_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{88,86}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{88,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101603_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101604_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{96,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{96,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101700_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{82,90}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101701_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1046},{88,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{88,66}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101702_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1350},{72,74}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,18},{72,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101703_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{96,84}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{96,84}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>item_30101704_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{92,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>equipMaterial.png</string>
            <key>size</key>
            <string>{100,1424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:643ab0d4618dc4e0f6fb56c754f1b93b:f88ec729969ba4bb5aac4a668df077ae:746b1e913de63c4fb872a72e3ae26a5f$</string>
            <key>textureFileName</key>
            <string>equipMaterial.png</string>
        </dict>
    </dict>
</plist>
