<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_wp_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,754},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{106,106}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>lab_bu_zz.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,754},{177,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,78}}</string>
                <key>sourceSize</key>
                <string>{177,78}</string>
            </dict>
            <key>lab_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{265,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,60}}</string>
                <key>sourceSize</key>
                <string>{265,60}</string>
            </dict>
            <key>new.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,814},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>st_bu_cun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>st_bu_qu.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,712},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>top_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{708,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{708,50}}</string>
                <key>sourceSize</key>
                <string>{708,50}</string>
            </dict>
            <key>up_k02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,586}}</string>
                <key>sourceSize</key>
                <string>{750,586}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lab.png</string>
            <key>size</key>
            <string>{642,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b90dee83b7877f16b7e567879658eee:33dadff80eae6eed970eeff1621ff5f8:b0d1241bacadc9555d6007dac5e78d83$</string>
            <key>textureFileName</key>
            <string>lab.png</string>
        </dict>
    </dict>
</plist>
