<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_bjk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{711,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,591}}</string>
                <key>sourceSize</key>
                <string>{711,591}</string>
            </dict>
            <key>bag_sx_ac01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,754},{569,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{569,207}}</string>
                <key>sourceSize</key>
                <string>{569,207}</string>
            </dict>
            <key>bag_wp_kx.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,658},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>bag_wp_slk.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,963},{44,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,32}}</string>
                <key>sourceSize</key>
                <string>{44,32}</string>
            </dict>
            <key>cha_bu_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,715},{143,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,162}}</string>
                <key>sourceSize</key>
                <string>{143,162}</string>
            </dict>
            <key>cha_bu_cs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,931},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cha_bu_dq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,905},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cha_bu_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,905},{100,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,50}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>cha_bu_sx.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,715},{142,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,162}}</string>
                <key>sourceSize</key>
                <string>{142,162}</string>
            </dict>
            <key>cha_fy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,963},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>cha_fy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,963},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>cha_fy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,963},{35,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,39}}</string>
                <key>sourceSize</key>
                <string>{35,39}</string>
            </dict>
            <key>cha_fy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,963},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>cha_fy_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,536},{91,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,59}}</string>
                <key>sourceSize</key>
                <string>{91,59}</string>
            </dict>
            <key>cha_fy_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,963},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,44}}</string>
                <key>sourceSize</key>
                <string>{38,44}</string>
            </dict>
            <key>cha_fyx_k.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,597},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>cha_up_cha.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,658},{311,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,328}}</string>
                <key>sourceSize</key>
                <string>{311,328}</string>
            </dict>
            <key>cha_up_lvk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{249,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,27}}</string>
                <key>sourceSize</key>
                <string>{249,27}</string>
            </dict>
            <key>cha_up_lvt.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,963},{95,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,23}}</string>
                <key>sourceSize</key>
                <string>{95,23}</string>
            </dict>
            <key>cha_up_qu.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,879},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>cha_up_qx.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,989},{120,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,5}}</string>
                <key>sourceSize</key>
                <string>{120,5}</string>
            </dict>
            <key>cha_up_wq.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,792},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>cha_xq_buxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,715},{145,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,62}}</string>
                <key>sourceSize</key>
                <string>{145,62}</string>
            </dict>
            <key>cha_xq_jg.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,754},{233,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,31}}</string>
                <key>sourceSize</key>
                <string>{233,31}</string>
            </dict>
            <key>cha_xq_x01.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,996},{223,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,1}}</string>
                <key>sourceSize</key>
                <string>{223,1}</string>
            </dict>
            <key>cha_xq_x02.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,999},{222,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,1}}</string>
                <key>sourceSize</key>
                <string>{222,1}</string>
            </dict>
            <key>cha_xq_xsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{352,641}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{352,641}}</string>
                <key>sourceSize</key>
                <string>{352,641}</string>
            </dict>
            <key>cha_xq_zb.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,715},{161,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,70}}</string>
                <key>sourceSize</key>
                <string>{161,70}</string>
            </dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{94,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,57}}</string>
                <key>sourceSize</key>
                <string>{94,57}</string>
            </dict>
            <key>fquality0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,823},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>fquality1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,715},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>fquality2.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,878},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>fquality3.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,879},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>fquality4.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,879},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>up_k01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,586}}</string>
                <key>sourceSize</key>
                <string>{750,586}</string>
            </dict>
            <key>yquality0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,441},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>yquality1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,346},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>yquality2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,251},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>yquality3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,156},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>yquality4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,61},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>character.png</string>
            <key>size</key>
            <string>{1637,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6541e1d544819514ddd59180f7c5b5f:2ea0f4b8a4c021588fa04757f8751ac6:9d7b98458f0235176999d89cc8ded93d$</string>
            <key>textureFileName</key>
            <string>character.png</string>
        </dict>
    </dict>
</plist>
