<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,715},{190,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,57}}</string>
                <key>sourceSize</key>
                <string>{190,57}</string>
            </dict>
            <key>as_airship.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{358,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,399}}</string>
                <key>sourceSize</key>
                <string>{358,399}</string>
            </dict>
            <key>as_qu_cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,635},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>as_qu_dl.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,362},{238,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,158}}</string>
                <key>sourceSize</key>
                <string>{238,158}</string>
            </dict>
            <key>as_qu_fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,715},{292,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,118}}</string>
                <key>sourceSize</key>
                <string>{292,118}</string>
            </dict>
            <key>as_qu_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{265,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,136}}</string>
                <key>sourceSize</key>
                <string>{265,136}</string>
            </dict>
            <key>as_qu_ph.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,522},{209,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,111}}</string>
                <key>sourceSize</key>
                <string>{209,111}</string>
            </dict>
            <key>as_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{462,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,2}}</string>
                <key>sourceSize</key>
                <string>{462,2}</string>
            </dict>
            <key>bag_bjk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{711,591}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,591}}</string>
                <key>sourceSize</key>
                <string>{711,591}</string>
            </dict>
            <key>name_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,522},{309,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{309,75}}</string>
                <key>sourceSize</key>
                <string>{309,75}</string>
            </dict>
            <key>part_60400000.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,643},{86,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,64}}</string>
                <key>sourceSize</key>
                <string>{86,64}</string>
            </dict>
            <key>part_60400001.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,362},{279,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,110}}</string>
                <key>sourceSize</key>
                <string>{279,110}</string>
            </dict>
            <key>part_60400002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,774},{158,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,60}}</string>
                <key>sourceSize</key>
                <string>{158,60}</string>
            </dict>
            <key>part_60400003.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,362},{61,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,50}</string>
            </dict>
            <key>part_60400004.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,643},{74,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,67}}</string>
                <key>sourceSize</key>
                <string>{74,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airship.png</string>
            <key>size</key>
            <string>{1000,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f1ca02e68b61900648f71a89f8825c4:148f9c4103e63d3615b2255b65da0c7f:5e048f0fd7708968c6f03e1fbb7fe2a8$</string>
            <key>textureFileName</key>
            <string>airship.png</string>
        </dict>
    </dict>
</plist>
