body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:35px;
  width:734px;
  height:1295px;
  font-size:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1295px;
}
#u1 {
  position:absolute;
  left:2px;
  top:640px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:43px;
  width:720px;
  height:1280px;
  font-size:28px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:274px;
  top:800px;
  width:91px;
  height:140px;
  font-size:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:140px;
}
#u5 {
  position:absolute;
  left:2px;
  top:62px;
  width:87px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:38px;
  top:1244px;
  width:161px;
  height:60px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:388px;
  top:1244px;
  width:161px;
  height:60px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:550px;
  top:1050px;
  width:91px;
  height:60px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:87px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:563px;
  top:1244px;
  width:161px;
  height:60px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:84px;
  top:68px;
  width:254px;
  height:53px;
  font-size:28px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:53px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:56px;
  top:68px;
  width:55px;
  height:55px;
  font-size:28px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u17 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:298px;
  top:60px;
  width:67px;
  height:68px;
  font-size:28px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:438px;
  top:68px;
  width:254px;
  height:53px;
  font-size:28px;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:53px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:250px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:408px;
  top:68px;
  width:55px;
  height:55px;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:55px;
}
#u23 {
  position:absolute;
  left:2px;
  top:20px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:651px;
  top:62px;
  width:67px;
  height:68px;
  font-size:28px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:68px;
}
#u25 {
  position:absolute;
  left:2px;
  top:26px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:462px;
  top:750px;
  width:138px;
  height:83px;
  font-size:28px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:83px;
}
#u27 {
  position:absolute;
  left:2px;
  top:25px;
  width:134px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:462px;
  top:340px;
  width:160px;
  height:83px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:83px;
}
#u29 {
  position:absolute;
  left:2px;
  top:25px;
  width:156px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:53px;
  top:1050px;
  width:110px;
  height:83px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:83px;
}
#u31 {
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:53px;
  top:390px;
  width:204px;
  height:83px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:83px;
}
#u33 {
  position:absolute;
  left:2px;
  top:25px;
  width:200px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:408px;
  top:550px;
  width:204px;
  height:83px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:83px;
}
#u35 {
  position:absolute;
  left:2px;
  top:25px;
  width:200px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:156px;
  top:657px;
  width:88px;
  height:83px;
  font-size:28px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:83px;
}
#u37 {
  position:absolute;
  left:2px;
  top:25px;
  width:84px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:151px;
  top:190px;
  width:120px;
  height:83px;
  font-size:28px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:83px;
}
#u39 {
  position:absolute;
  left:2px;
  top:25px;
  width:116px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:213px;
  top:1244px;
  width:161px;
  height:60px;
  font-size:28px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:60px;
}
#u41 {
  position:absolute;
  left:2px;
  top:14px;
  width:157px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:38px;
  top:537px;
  width:110px;
  height:83px;
  font-size:28px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:83px;
}
#u43 {
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:637px;
  top:897px;
  width:110px;
  height:83px;
  font-size:28px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:83px;
}
#u45 {
  position:absolute;
  left:2px;
  top:25px;
  width:106px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:27px;
  top:42px;
  width:720px;
  height:1281px;
  opacity:0.75;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1281px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:38px;
  top:483px;
  width:686px;
  height:497px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:497px;
}
#u49 {
  position:absolute;
  left:2px;
  top:240px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:641px;
  top:422px;
  width:102px;
  height:98px;
  font-size:28px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:98px;
}
#u51 {
  position:absolute;
  left:2px;
  top:41px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:57px;
  top:614px;
  width:289px;
  height:214px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:214px;
}
#u53 {
  position:absolute;
  left:2px;
  top:99px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:57px;
  top:614px;
  width:289px;
  height:214px;
  opacity:0.5;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:214px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:415px;
  top:614px;
  width:289px;
  height:214px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:214px;
}
#u57 {
  position:absolute;
  left:2px;
  top:99px;
  width:285px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:415px;
  top:614px;
  width:289px;
  height:214px;
  opacity:0.5;
  text-align:center;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:214px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:514px;
  top:670px;
  width:90px;
  height:102px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:102px;
}
#u61 {
  position:absolute;
  left:2px;
  top:43px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:188px;
  top:578px;
  width:386px;
  height:285px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:285px;
}
#u63 {
  position:absolute;
  left:2px;
  top:134px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:240px;
  top:455px;
  width:309px;
  height:75px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:75px;
}
#u65 {
  position:absolute;
  left:2px;
  top:30px;
  width:305px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:330px;
  top:460px;
  width:113px;
  height:55px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:55px;
}
#u67 {
  position:absolute;
  left:0px;
  top:11px;
  width:113px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:188px;
  top:813px;
  width:386px;
  height:50px;
  opacity:0.75;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:50px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:332px;
  top:808px;
  width:85px;
  height:55px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:55px;
}
#u71 {
  position:absolute;
  left:0px;
  top:11px;
  width:85px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:263px;
  top:882px;
  width:223px;
  height:58px;
  font-size:28px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:58px;
}
#u73 {
  position:absolute;
  left:2px;
  top:12px;
  width:219px;
  word-wrap:break-word;
}
