body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:35px;
  width:734px;
  height:1295px;
  font-size:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:1295px;
}
#u1 {
  position:absolute;
  left:2px;
  top:640px;
  width:730px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:43px;
  width:720px;
  height:1280px;
  font-size:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u3 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:64px;
  top:1130px;
  width:636px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:619px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:5px;
  width:636px;
  height:1px;
}
#u5 {
  position:absolute;
  left:27px;
  top:43px;
  width:720px;
  height:1280px;
  opacity:0.75;
  font-size:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:628px;
  top:211px;
  width:102px;
  height:98px;
  font-size:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:98px;
}
#u8 {
  position:absolute;
  left:2px;
  top:41px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:207px;
  top:1052px;
  width:350px;
  height:65px;
  font-size:20px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:65px;
}
#u10 {
  position:absolute;
  left:2px;
  top:24px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:326px;
  top:1062px;
  width:51px;
  height:44px;
  font-size:20px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u12 {
  position:absolute;
  left:2px;
  top:14px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:377px;
  top:1072px;
  width:80px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:42px;
  top:1130px;
  width:658px;
  height:84px;
  font-size:20px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:84px;
}
#u16 {
  position:absolute;
  left:2px;
  top:34px;
  width:654px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:606px;
  top:1103px;
  width:120px;
  height:122px;
  font-size:20px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:122px;
}
#u18 {
  position:absolute;
  left:2px;
  top:53px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:57px;
  top:1145px;
  width:466px;
  height:52px;
  font-size:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:120px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:200px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:280px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:440px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:520px;
  top:1145px;
  width:10px;
  height:55px;
  font-size:20px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:55px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:44px;
  top:283px;
  width:687px;
  height:667px;
  font-size:20px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:667px;
}
#u34 {
  position:absolute;
  left:2px;
  top:326px;
  width:683px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:244px;
  top:950px;
  width:276px;
  height:83px;
  font-size:20px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:83px;
}
#u36 {
  position:absolute;
  left:2px;
  top:30px;
  width:272px;
  word-wrap:break-word;
}
